body {
  color: #515151;
  font-size: 14px/24px;
  font-family: Myriad Set Pro,Helvetica Neue,Helvetica,Arial,sans-serif;
  text-rendering: optimizelegibility;
  font-weight: 400;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
}

/* Horizontal animation when scrolling the page vertically
=============================================================================*/
div.load-line-cognifly {
    height: 3px;
    width: 100%;
}
div.hori-line-cont-cognifly {
  height: 3px;
  background-color: #FF0045;
  z-index: 20;
  position: fixed;
  width: 100%;
  left: 0px;
  top: 0;
  -webkit-app-region: drag;
}
div.hori-line-cognifly {
  height: 3px;
  background-color: #7734A0;
  width: 0%;
  -webkit-app-region: drag;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -ms-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}


/* pc navigation drawer
=============================================================================*/
div.control-panel-cognifly {
    height: 100%;
    width: 0px;
    position: fixed;
    top: 0px;
    right: 0px;
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
    border-left: 1px solid #ccc;
    background-color: #FFF;
    z-index: 14;
    visibility: hidden;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    overflow-y: auto;
    overflow-x: hidden;
}

@media all and (max-width: 767px) {
    div.control-panel-cognifly {
        visibility: hidden;
    }
}

div.panel-material-cognifly {
    height: 55px;
    width: 100%;
    display: inline-block;
}

div.panel-container-cognifly {
    height: 32px;
    width: 230px;
    float: left;
    margin-top: 1.4em;
}

div.tux-panel-heading-cont {
    height: 32px;
    width: auto;
    float: left;
}

div.panel-menu-cognifly {
    font-family: sans-serif;
    color: #545454;
    line-height: 32px;
    margin-left: 2.5em;
    text-transform: uppercase;
    font-size: 15px;
}

div.hide-cont-cognifly {
    height: 32px;
    width: auto;
    float: right;
    margin-right: 5px;
}

div.hide-wrapper-cognifly {
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 3px;
    cursor: pointer;
}

div.panel-icon-cont-cognifly {
    float: left;
    height: 27px;
    width: 27px;
}

div.panel-icon-cont-cognifly:hover {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
}

div.panel-constraction-cognifly {
    height: auto;
    width: 100%;
    display: inline-block;
}

ul.options-cognifly {
    list-style-type: none;
    margin: 0px;
}

li.panel-text-bar-cognifly {
  width: 210px;
  padding-top: 5px;
  padding-bottom: 5px;
}

a.tux-link-cognifly {
    text-transform: capitalize;
    color: #545454;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -ms-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    text-decoration: none;
}
a.tux-link-cognifly:hover {
    color: #1E88E5;
}

span.panel-text-cognifly {
    color: inherit;
    font-size: 13px;
}

li.panel-title-bar-cognifly {
    padding-top: 2.1em;
    padding-bottom: 2.1em;
    margin-bottom: -1.25em;
    color: #545454;
    width: 210px;
}

span.panel-title-text-cognifly {
    text-transform: uppercase;
    font-size: 15px;
}



div.mobile-nav-bar-cognifly {
  height: 100%;
  width: 260px;
  margin-left: -260px;
  overflow-x: hidden;
  overflow-y: auto;
  box-shadow: 0 2px 10px rgba(0,0,0,.2);
  border-right: 1px solid #ccc;
  background-color: #FFF;
  z-index: 20;
  position: fixed;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
div.mobile-material-wrapper-cognifly {
  position: relative;
  box-sizing: border-box;
  height: 68px;
  left: 0;
  right: 0;
  top: auto;
  border-bottom: 1px solid #ebebeb;
  background-color: #FFF;
}
a.mobile-home-cognifly {
  height: 46px;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
}

ul.butter-left-nav-list {
    display: block;
    margin: 11px 0;
    list-style: none;
    padding-left: 0;
    margin-bottom: 1px;
    margin-top: 0;
    margin: 0;
    padding: 0;
}
ul.butter-left-nav-list>li {
    display: block;
    position: relative;
}
ul.butter-left-nav-list>li>a {
    line-height: 18px;
    width: 100%;
    webkit-transition-property: color;
    transition-property: color;
    color: #1E88E5;
    cursor: pointer;
    display: block;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 24px;
    padding: 16px 25px;
    position: relative;
    white-space: nowrap;
    text-transform: capitalize;
    text-decoration: none;
    text-align: left;
    box-sizing: border-box;
}

li.butter-left-nav-divider {
    background-color: #dcdcdc;
    height: 1px;
    margin: 11px 0;
    overflow: hidden;
}





div.window-material-cognifly {
  height: 68px;
  text-align: center;
  margin: 0 -10px;
}
@media all and (min-width: 767px) {
  div.window-material-cognifly {
    text-align: left;
  }
}
div.material-wrapper-cognifly {
  position: fixed;
  border-bottom: 1px solid #ebebeb;
  box-sizing: border-box;
  height: 68px !important;
  left: 0;
  right: 0;
  top: auto;
  z-index: 10;
  background-color: #FFF;
}
@media all and (min-width: 767px) {
  div.material-wrapper-cognifly {
    border-bottom: 1px solid transparent;
  }
}
div.center-card-cognifly {
  box-sizing: border-box;
  height: auto;
  display: block;
  width: 100%;
  margin: 0 auto;
  position: relative;
  max-width: 1240px;
}


div.logo-cont-cognifly {
  height: 46px;
  width: auto;
  margin-top: 10px;
  position: absolute;
  margin-left: 10px;
}
@media all and (min-width: 767px) {
  div.logo-cont-cognifly {
    margin-left: 15px;
  }
}

div.hide-hamburger-cont-cognifly, div.show-hamburger-cont-cognifly {
  left: 0;
  height: 46px;
  box-sizing: border-box;
  text-align: center;
  width: 46px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
@media all and (min-width: 767px) {
  div.show-hamburger-cont-cognifly {
    display: none;
  }
}
div.hamburger-wrapper-cognifly {
  height: 16px;
  width: 16px;
  margin: 16px auto;
  cursor: pointer;
}
span.hamburger-top-cognifly {
  background: #FF0045;
  display: block;
  height: 3px;
  margin: 3px 0 0;
  width: 100%;
}
span.hamburger-mid-cognifly {
  background: #7734A0;
  display: block;
  height: 3px;
  margin: 3px 0 0;
  width: 100%;
}
span.hamburger-bot-cognifly {
  background: #0192FF;
  display: block;
  height: 3px;
  margin: 3px 0 0;
  width: 100%;
}

a.home-cognifly {
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  display: inline-block;;
  height: 46px;
}
img.logo-cognifly {
  border: 0;
  float: left;
  height: 36px;
  margin-top: 5px;
}

div.form-wrap-cognifly {
  border-right: 0;
  display: inline-block;
  text-transform: capitalize;
  margin-top: 13px;
  width: 73%;
  max-width: 600px;
  position: absolute;
  left: 64px;
  right: auto;
}
@media all and (min-width: 767px) {
  div.form-wrap-cognifly {
    left: 160px;
    margin-left: auto;
    margin-right: 0;
    width: 55%;
  }
}

form.search-box-cont-cognifly {
  height: auto;
  padding-left: 0.75em;
  padding-right: 5.8em;
  box-shadow: 0 2px 10px rgba(0,0,0,.2);
  border: 1px solid #ccc;
  border-color: rgba(0,0,0,.2);
  color: #000;
  display: block;
  position: relative;
  box-sizing: border-box;
}


input.search-box-cognifly {
  color: inherit;
  display: block;
  width: 100%;
  background: none;
  outline: none;
  border: none;
  padding: 0;
  height: 40px;
  z-index: 1;
  position: relative;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0;
}

input.submit-btn-cognifly {
  color: #1E88E5;
  display: block;
  width: 20px;
  font-size: 1.25em;
  padding: 0px 0.64em;
  height: auto;
  min-height: 1.8em;
  margin-top: 2px;
  margin-bottom: 2px;
  line-height: 1.5;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  -o-box-sizing: content-box;
  box-sizing: content-box;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 2px;
  left: auto;
  z-index: 2;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -ms-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  text-transform: capitalize;
  background: transparent;
}
input.submit-btn-cognifly:hover {
  color: #FFF;
  background-color: #1E88E5;
}

input.clear-btn-cognifly {
  color: #FFF;
  display: block;
  width: 20px;
  font-size: 1.25em;
  height: auto;
  margin-top: 2px;
  margin-bottom: 2px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  -o-box-sizing: content-box;
  box-sizing: content-box;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 2.7em;
  left: auto;
  z-index: 2;
  border: none;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -ms-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  text-transform: capitalize;
  background: transparent;
}


div.show-pc-hamburger-cont-cognifly {
  cursor: pointer;
  float: right;
  padding: 0 10px;
  position: relative;
  height: 46px;
  box-sizing: border-box;
  text-align: center;
  width: 46px;
  margin-top: 11px;
  right: 10px;
  display: none;
  vertical-align: middle;
}
@media all and (min-width: 767px) {
  div.show-pc-hamburger-cont-cognifly {
    display: inline-block;
  }
}



/* kalibu-ux-17
============================================================================*/

div.main-cont-kalibu-ux-17 {
    width: 100%;
    box-sizing: border-box;
}

div.win-mat-kalibu-ux-17 {
    background: #fff;
    border-bottom: 1px solid transparent;
    box-sizing: border-box;
    height: 38px;
    text-align: center;
}
@media all and (min-width: 767px) {
  div.win-mat-kalibu-ux-17 {
    border-bottom: 1px solid #ebebeb;
  }
}

div.pc-cont-kalibu-ux-17 {
    max-width: 1240px;
    padding-left: 10px;
    background-color: red;
}

@media all and (min-width: 767px) {
    div.pc-cont-kalibu-ux-17 {
        display: block;
        padding-left: 5%;
    }
}

@media all and (min-width: 1044px) {
    div.pc-cont-kalibu-ux-17 {
        padding-left: 0;
        padding-left: 10em;
    }
}

ul.pc-ul-kalibu-ux-17 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
}

li.pc-li-kalibu-ux-17 {
    font-family: arial, sans-serif;
    list-style-type: none;
    float: left;
    margin: 0;
    padding: 0;
    font-weight: 400;
    display: inline-block;
    vertical-align: top;
    padding-right: 25px;
}

a.pc-href-act-kalibu-ux-17 {
    border-bottom: 3px solid #1E88E5;
    color: #1E88E5;
    display: block;
    font-size: small;
    padding: 10px;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -ms-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    text-transform: capitalize;
    text-decoration: none;
}

a.pc-href-inact-kalibu-ux-17 {
    border-bottom: 3px solid transparent;
    color: #666;
    display: block;
    font-size: small;
    line-height: 32px;
    padding: 12px 0;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -ms-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    text-transform: capitalize;
    text-decoration: none;
}

a.pc-href-inact-kalibu-ux-17:hover {
    border-bottom: 3px solid #1E88E5;
    color: #1E88E5;
}



/* cogni-ux-1
============================================================================*/

div.main-cont-cogni-ux-1 {
    box-sizing: border-box;
}

div.cont-cogni-ux-1 {
    display: block;
    width: 100%;
    box-sizing: border-box;
    max-width: 1240px;
    padding: 10px;
}

@media all and (min-width: 767px) {
    div.cont-cogni-ux-1 {
        display: table;
        padding-left: 5%;
    }
}

@media all and (min-width: 1044px) {
    div.cont-cogni-ux-1 {
      padding-left: 10em;
    }
}

div.scope-card-cogni-ux-1 {
    height: auto;
    width: 100%;
    display: block;
    right: 0;
    left: 0;
    box-sizing: border-box;
    margin-bottom: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
    border-color: rgba(0,0,0,.2);
    position: relative;
}
div.scope-wrapper-cogni-ux-1 {
  height: 260px;
  position: relative;
  overflow: hidden;
}
@media all and (min-width: 767px) {
    div.scope-card-cogni-ux-1 {
        float: right;
        position: relative;
        width: 38%;
        height: auto;
        box-shadow: 0 2px 10px rgba(0,0,0,.2);
        border: 1px solid #ccc;
        border-color: rgba(0,0,0,.2);
    }
    div.scope-wrapper-cogni-ux-1 {
        height: 500px;
    }
}
div.dummy {
  height: 800px;
  width: 300px;
}

div.offset-cogni-ux-1 {
  margin: 0 auto;
  clear: both;
  width: 100%;
  height: 0px;
  position: relative;;
  bottom: 10;
  background-color: red;
  overflow: visible;
}
div.scope-btn-cogni-ux-1 {
  position: relative;
  bottom: 26px;
  height: 54px;
  width: 54px;
  line-height: 54px;
  margin: 0 auto;
  z-index: 1;
  background-color: #7734A0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  border-radius: 50%;
  font-size: 0;
  min-width: 0;
  overflow: hidden;
  padding: 0;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
}
i.scope-icon-cont-cogni-ux-1 {
  height: 20px;
  width: 20px;
  margin-top: 18px;
  display: inline-block;
}
img.scope-icon-cogni-ux-1 {
  height: 20px;
  width: 20px;
  float: left;
}


div.link-card-cogni-ux-1 {
    height: auto;
    width: 100%;
    box-sizing: border-box;
    padding-right: 0;
    display: table-cell;
    vertical-align: middle;
    display: block;
}

@media all and (min-width: 767px) {
    div.link-card-cogni-ux-1 {
        width: 62%;
        padding-right: 3em;
    }
}

div.link-cont-cogni-ux-1 {
  box-sizing: border-box;
  width: 100%;
}

div.link-box-cogni-ux-1 {
  width: 100%;
  margin-bottom: 10px;
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
  background-color: #FFF;
}
@media all and (min-width: 767px) {
  div.link-box-cogni-ux-1 {
    box-shadow: none;
    margin-bottom: 20px;
  }
}

a.link-top-cogni-ux-1 {
    text-decoration: none;
    padding: 10px 10px;
    border-bottom: 1px solid #EBEBEB;
    box-sizing: border-box;
    display: block;
}
@media all and (min-width: 767px) {
    a.link-top-cogni-ux-1 {
        padding: 0;
        border-bottom: 1px solid #FFF;
    }
}

h2.link-header-cogni-ux-1 {
    text-transform: capitalize;
    font-size: 16px;
    font-weight: normal;;
    letter-spacing: 0;
    color: #1a0dab;
    margin: 0;
}

p.green-link-cogni-ux-1 {
    text-decoration: none;
    font-size: 15px;
    font-weight: normal;;
    color: #006621;
    font-style: normal;
    margin: 0;
    overflow-x: hidden;
}

p.link-para-cogni-ux-1 {
    color: #545454;
    font-size: 14px;
    line-height: 1.4;
    font-weight: normal;
    margin: 0;
    padding: 10px 10px;
    box-sizing: border-box;
}

@media all and (min-width: 767px) {
    p.link-para-cogni-ux-1 {
        padding: 0;
    }
}


div.link-more-cogni-ux-1 {
  width: 100%;
  margin-bottom: 10px;
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
  background-color: #FFF;
  text-align: center;
  padding: 5px;
  box-sizing: border-box;
  cursor: pointer;
}
@media all and (min-width: 767px) {
  div.link-more-cogni-ux-1 {
    box-shadow: none;
    border: 1px solid #EBEBEB;
  }
}

div.spinner-active-cogni-ux-1 {
  height: 20px;
  width: 20px;
  border: 8px solid #FFF;
  border-right-color: transparent;
  border-radius: 50%;
  background-color: #1E88E5;
  display: inline-block;
  vertical-align: top;
  animation: rotate 0.5s infinite linear;
}
div.spinner-inactive-cogni-ux-1 {
  height: 20px;
  width: 20px;
  border: 8px solid #FFF;
  border-right-color: transparent;
  border-radius: 50%;
  background-color: #1E88E5;
  display: inline-block;
  vertical-align: top;
}

@keyframes rotate {
 	0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

div.link-more-txt-cogni-ux-1 {
  display: inline-block;
  vertical-align: top;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 400;
  height: 100%;
  line-height: 2;
  margin-left: 10px;
}



/* Design 17
============================================================================*/
div.tile-design-17 {
  display: inline-block;
  white-space: normal;
  vertical-align: top;
  float: none;
  position: relative;
  background-color: #fff;
  border: 1px solid #EBEBEB;
  font-size: 0.87em;
  line-height: 1.37;
  margin-bottom: 0.8em;
  box-sizing: border-box;
  padding: 1em;
  word-wrap: break-word;
  word-break: initial;
  overflow: hidden;
  width: 100%;
  height: 260px;
}
@media all and (min-width: 767px) {
  div.tile-design-17 {
    width: auto;
    margin: 8px 7px;
  }
}
div.currently-cont-design-17 {
  color: #888;
  text-align: center;
  width: 100%;
  height: 15em;
}
@media all and (min-width: 767px) {
  div.currently-cont-design-17 {
    width: 20em;
  }
}

h5.label-h5-design-17 {
  font-weight: 600;
  padding-top: 0;
  text-align: left;
  font-size: 1.15em;
  color: #333;
  padding-bottom: 0.5em;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  text-transform: capitalize;
}

div.current-wrap-design-17 {
  display: inline-block;
  margin-top: 0.75em;
  max-width: 100%;
  width: 100%;
}
div.current-top-design-17 {
  font-size: 2em;
}
h1.temp-text-cont-design-17 {
  font-weight: 500;
  color: #333;
  display: inline-block;
  line-height: 1.1;
  margin-bottom: 0 !important;
  margin-right: -.25em;
  font-size: 2.5em;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  letter-spacing: 0
}
span.temp-icon-wrap-design-17 {
  width: 80px;
  height: 80px;
  vertical-align: bottom;
  margin-bottom: 0;
  margin-left: 0.55em;
  position: relative;
  display: inline-block;
}
img.temp-icon-design-17 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: block;
  max-width: 100%;
}

div.current-bottom-design-17 {
  font-size: 1.1em;
  text-align: center;
  position: absolute;
  bottom: 1.25em;
  left: 1.25em;
  right: 1.25em;
  color: #212121;
  font-weight: inherit;
  letter-spacing: 0
}
h6.temp-infor-design-17 {
  font-size: 1.15em;
  line-height: 25px;
  font-weight: normal !important;
  text-transform: capitalize;
  padding-bottom: 0;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

div.day-cont-design-17 {
  width: 10em;
  color: #888;
  height: 15em;
}
span.day-icon-wrap-design-17 {
  float: right;
  width: 40px;
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
div.day-header-design-17 {
  overflow: hidden;
}
h5.day-label-design-17 {
  color: #333;
  font-weight: 500;
  letter-spacing: 0
  padding-bottom: 0.5em;
  padding-top: 0;
  text-align: left;
  font-size: 1.15em;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
h6.day-label-design-17 {
  font-weight: 500;
  padding-bottom: 0.5em;
  padding-top: 0;
  text-align: left;
  font-size: 1.15em;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  color: #212121;
  font-weight: inherit;
  letter-spacing: 0
}

div.day-sam-design-17 {
  margin-top: 2em;
  max-height: 5.4em;
  overflow: hidden;
  display: block;
}
h6.sam-text-design-17 {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  color: #212121;
  font-weight: inherit;
  letter-spacing: 0
}

div.day-temp-corner-design-17 {
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 1em;
  padding-bottom: 7px;
  font-size: 0.9em;
}
h1.day-temp-high-design-17 {
  color: #333;
  font-size: 3em;
  line-height: 40px;
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: 400;
  letter-spacing: 0
}
h1.day-temp-low-design-17 {
  font-size: 3em;
  line-height: 40px;
  margin: 0;
  padding: 0;
  border: 0;
  color: #212121;
  font-weight: inherit;
  letter-spacing: 0
}




/* cogni-ux-5
===========================================================================*/
a {
  color: #515151;
}
div.butter-main-cont-cogni-ux-5 {
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
}

div.butter-center-card-cogni-ux-5 {
  box-sizing: border-box;
  height: auto;
  display: block;
  width: 100%;
  margin: 0 auto;
  background-color: #FFF;
  max-width: 1240px;
  position: relative;
}

div.butter-card-body-cogni-ux-5 {
  height: auto;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  box-sizing: border-box;
}

/*
The left nav container
*/
div.usr-left-panel-cogni-ux-5 {
  width: 350px;
  height: 100%;
  visibility: hidden;
  overflow-x: hidden;
  position: fixed;
  box-sizing: border-box;
  z-index: 6;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  border-right:1px solid #f2f2f2;
  padding: 1.2em;
  padding-right: 0;
  background-color: #FFF;
}
@media all and (min-width: 767px) {
  div.usr-left-panel-cogni-ux-5 {
    visibility: visible;
    margin: 0px;
  }
}
div.guide-cont-cogni-ux-5 {
  height: 400px;
  width: 100%;
}
h3.sidebar-title-cogni-ux-5 {
  font-weight: 400;
  border-bottom: 1px solid #f2f2f2;
  font-size: 18px;
  line-height: 2;
  text-transform: capitalize;
  margin: 18px 0 0;
  margin-top: 0;
}
ul.sidebar-list-cogni-ux-5 {
  margin: 10px 0 60px;
  list-style: none;
  padding: 0;
}
li.sidebar-link-cont-cogni-ux-5 {
  margin: 5px 0;
}

a.sidebar-link-cogni-ux-5 {
  text-decoration: none;
  font-size: small;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 1.5;
  padding: 5px 0;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
a.sidebar-link-cogni-ux-5:hover {
  color: #1E88E5;
}



/*
The right side container.
*/
div.user-right-panel-cogni-ux-5 {
  height: 100%;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  z-index: 5;
  padding: 0 1.5em;
  width: 100%;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  z-index: 5;
}
@media all and (min-width: 767px) {
  div.user-right-panel-cogni-ux-5 {
    padding: 0;
    margin: 0;
    padding-left: 350px;
  }
}

div.panel-wrap-cogni-ux-5 {
  height: auto;
  width: 100%;
  box-sizing: border-box;
  display: block;
  margin-bottom: 2px;
}
@media all and (min-width: 767px) {
  div.panel-wrap-cogni-ux-5 {
    padding: 0px 2em;
  }
}

div.infor-cont-cogni-ux-5 {
  height: auto;
  width: 100%;
  max-width: 800px;
}
h1.about-title-cogni-ux-5 {
  font-size: 32px;
  font-weight: 400;
  line-height: 1.3;
  text-transform: capitalize;
  color: #333;
  margin-bottom: 20px;
}
h1.infor-title-cogni-ux-5 {
  text-transform: capitalize;
  font-size: 24px;
  margin: 40px 0 4px;
  font-weight: 300;
  line-height: 1.3;
}
div.infor-cont-cogni-ux-5 p {
  font-size: 14px;
  margin: 0 0 10px;
  font-weight: 400;
  line-height: 1.5;
}

ul.list-bullet-cont-cogni-ux-5 {
  margin: 0;
  margin-left: 16px;
  list-style: disc;
  color: #FF0045;
  padding: 0;
}
ul.list-bullet-cont-cogni-ux-5 li {
  margin: 10px 0;
  padding: 5px 0;
}
a.list-bullet-link-cogni-ux-5 {
  text-decoration: none;
  font-size:14px;
  line-height: 1.5;
  font-weight: 400;
  padding: 5px 0;
  color: #1E88E5;
}

/* Kalibu-ux-8
=============================================================================*/
div.main-cont-kalibu-ux-8 {
  clear: both;
  box-sizing: border-box;
  border-bottom: 1px solid #F2F2F2;
  padding-bottom: 0;
}

div.wrap-kalibu-ux-8 {
  text-align: center !important;
  max-width: 1044px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}
h2.header-kalibu-ux-8 {
  margin-top: 0;
  margin-bottom: 16px;
  color: #212121;
  font-size: 25px;
  font-weight: inherit;
  line-height: 28px;
  margin: 0;
  text-rendering: optimizeLegibility;
  text-transform: capitalize;
}
@media all and (min-width: 767px) {
  h2.header-kalibu-ux-8 {
    font-size: 35px;
    line-height: 38px;
  }
}
a.step-link-kalibu-ux-8 {
  color: #039BE5;
  cursor: pointer;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
}
p.para-kalibu-ux-8 {
  margin-left: auto;
  margin-right: auto;
  max-width: 50em;
  color: #212121;
  font-size: 16px;
  font-style: normal;
  font-weight: inherit;
  letter-spacing: 0;
  line-height: 24px;
  margin-bottom: 1.5em;
  text-rendering: auto;
  box-sizing: border-box;
}

div.compiz-kalibu-ux-8 {
  height: 30px;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #455A64;
  box-sizing: border-box;
  padding: 11px;
  text-align: left;
}
div.actions-kalibu-ux-8 {
  height: 10px;
  width: 10px;
  background-color: #FFF;
  border-radius: 50px;
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
}

img.resp-kalibu-ux-8 {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
  border: 0;
  border-left:1px solid #e5e5e5;
  border-right:1px solid #e5e5e5;
}
img.resp-2-kalibu-ux-8 {
  display: none;
  width: 100%;
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
  border: 0;
  border-left:1px solid #e5e5e5;
  border-right:1px solid #e5e5e5;
}


/* kalibu-ux-17
============================================================================*/

div.main-cont-kalibu-ux-17 {
    width: 100%;
    box-sizing: border-box;
}

div.win-mat-kalibu-ux-17 {
    background: #fff;
    border-bottom: 1px solid transparent;
    box-sizing: border-box;
    height: 38px;
    text-align: center;
    border-bottom: 1px solid #ebebeb;
}
@media all and (min-width: 767px) {
  div.win-mat-kalibu-ux-17 {
  }
}

ul.ul-scopes-kalibu-ux-17, ul.ul-blueprint-kalibu-ux-17 {
    list-style-type: none;
    margin: 7px 0;
    padding: 0;
    position: relative;
}

ul.ul-scopes-kalibu-ux-17 li {
    font-family: arial, sans-serif;
    list-style-type: none;
    float: left;
    margin: 0;
    padding: 0;
    width: 33.333%;
    color: #848484;
}
ul.ul-blueprint-kalibu-ux-17 li {
    font-family: arial, sans-serif;
    list-style-type: none;
    float: left;
    margin: 0;
    padding: 0;
    width: 50%;
    color: #848484;
}
div.tab-scopes-cognifly, div.tab-btn-cognifly  {
    border-bottom: 3px solid transparent;
    display: block;
    color: inherit;
    font-size: small;
    padding: 10px 15px;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -ms-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    text-transform: capitalize;
    text-decoration: none;
    cursor: pointer;
}
#func-weather-cognifly, #func-ide-cognifly {
  border-bottom: 2px solid #08c;
  color: #08c;
}


/*the section image container*/
section.weather-scope-cogni-ux-5, section.wikipedia-scope-cogni-ux-5,
section.recipes-scope-cogni-ux-5, section.ide-cogni-ux-5, section.arch-cogni-ux-5
 {
  margin-top: 10px;
}
section.wikipedia-scope-cogni-ux-5,section.recipes-scope-cogni-ux-5,
section.arch-cogni-ux-5 {
  display: none;
}
